.new-book-container{
  background: rgba(255, 255, 255, 0.85);
}
.new-book-container form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
  }
  

  .new-book-container h1 {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 2rem;
    color: #333;
  }
  